## EDITORS
.idea
.vscode
vendor

## Binaries
bin-all

## Flutter locks
*pubspec.lock

# JSONNET locks
*.lock.json

/sys-core/service/go/vendor/
/sys-account/service/go/pkg/fakedata/bs-sys-account.json
/sys-account/service/go/pkg/fakedata/bs-sys-account.yml
